* {
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
    list-style: none;
    box-sizing: border-box;
}
button {
    font-family: 微軟正黑體;
}
/* -------header--------- */


header#header {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

/* -------logo--------- */
header>a .logo {
    width: 500px;
    padding-bottom: 1%;
    /* display: inline-block; */
}

/* -------logo--------- */


/* -------功能列-------- */
.head_up {
    text-align: right;
    padding: 10px 0;
    margin: 0;
}

.head_up_list>li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    font-size: 0;
}

input.search {
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 5px 10px 5px 40px;
    width: 200px;
    outline: none;
    background-image: url("https://alldata.sgp1.digitaloceanspaces.com/images/searchicon.png");
    background-repeat: no-repeat;
    background-position: 5px 4px;
}
.btn_serch{
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    border: 1px solid rgb(184, 8, 8);
    background-color: rgb(184, 8, 8);
    color: white;
    cursor: pointer;
}
.btn_serch:hover{
    background-color: #851616;
    border: 1px solid #851616;
}
.nav img {
    padding: 0;
    margin: 0;
}

.head_up_list>li>a {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 16px;
    
}

.head_up_list>li>a:hover {
    color: rgb(107, 4, 4);
}

.head_up_list a img {
    vertical-align: bottom;
    height: 20px;
}

.head_up_list a img:hover {
    height: 25px;
    cursor: pointer;
    transition: all .3s;
}

/* -------功能列-------- */

/* -------主選單-------- */
.nav {
    height: 100%;
    width: 100%;
    margin-bottom: 2%;
    position: relative;
}

.nav_list>li {
    list-style: none;
    display: inline-block;
    margin: auto;
    margin-left: 1%;
}

.nav_list>li>a {
    color: black;
    font-size: 24px;
    transition: 0.3s linear all;
    font-weight: 600;
    text-decoration: none;
    padding: 0 10px 0 10px;
    font-weight: 600;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.nav_list>li>a:hover {
    color: rgb(107, 4, 4);
    box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}

.style-one {
    margin: auto;
    width: 800px;
    border: 1px solid #686666;
    background-color: #686666;
}

.list {
    color: black;
    font-size: 24px;
    transition: 0.3s linear all;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    padding: 0 10px 0 10px;
    cursor: -webkit-grabbing;
    font-weight: 600;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

ul.selection {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    /* top: 32px; */
    left: 0;
    z-index: 9999;
    border: 1px solid black;
    width: 100%;
    font-size: 0;
}

ul.selection>li {
    width: 100%;
    list-style: none;
    transition: 0.3s linear all;
}

ul.selection>li>a {
    color: rgb(85, 83, 83);
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.list:hover ul.selection {
    display: block;
    background-color: blanchedalmond;
}

.list ul.selection a:hover {
    background-color: rgb(143, 112, 12);
    color: white;
}

.list:hover {
    color: rgb(107, 4, 4);
    box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}

.list ul.selection hr {
    font-size: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------主選單-------- */

/* -------head 767-------- */

header.header767{
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 2%;
    z-index: 5;
}
.button_container {
    position: absolute;
    top: 10px;
    right: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
}
.button_container:hover {
    opacity: .7;
}
.button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: rgb(32, 32, 32);
}
.button_container.active .middle {
    opacity: 0;
    background: rgb(32, 32, 32);
}
.button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: rgb(32, 32, 32);
}
.button_container span {
    background: rgb(32, 32, 32);
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
}
.button_container span:nth-of-type(2) {
    top: 11px;
}
.button_container span:nth-of-type(3) {
    top: 22px;
}
.overlay {
    position: fixed;
    background: #fff;
    background-image: url(./common/hamburger1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}
.overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
.overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .1s;
}
.overlay.open li:nth-of-type(2) {
    animation-delay: .1s;
}
.overlay.open li:nth-of-type(3) {
    animation-delay: .1s;
}
.overlay.open li:nth-of-type(4) {
    animation-delay: .1s;
}
.overlay nav {
    position: relative;
    top: 1%;
    text-align: center;
}
.overlay nav>img{
    width: 90%;
}
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
}
.overlay ul li {
    display: block;
    height: 25%;
    position: relative;
    opacity: 0;
    font-size: 0;
}
.overlay ul li .search{
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 5px 10px 5px 40px;
    outline: none;
    background-image: url("https://alldata.sgp1.digitaloceanspaces.com/images/searchicon.png");
    background-repeat: no-repeat;
    background-position: 10px 7px;
    box-sizing: border-box;
}
.overlay ul li .btn_serch{
    font-size: 16px;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}
.overlay ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
    overflow: hidden;
    font-size: 16px;
    color: black;
    font-weight: 600;
    padding: 10px 0 10px 0;
    
}

.overlay ul li ul li  a{
    color: rgb(85, 83, 83);
    font-weight: 600;
    text-decoration: underline ;
    
}
#mobile_header_title2:hover{
    cursor: -webkit-grabbing;
}
.overlay ul li a:hover{
    background-color: rgb(143, 112, 12);
    color: white;
}
@keyframes fadeInRight {
    0% {
    opacity: 0;
    left: 20%;
    }
    100% {
    opacity: 1;
    left: 0;
    }
}

/* -------head 767-------- */


/* -------head RWD-------- */

@media screen and (min-width:1200px) {
    header.header767 {
        display: none;
    }
    .head_up_list {
        margin-right: 10px;
    }
}

@media screen and (max-width:1199px) {
    header.header767 {
        display: none;
    }
    .head_up {
        width: 100%;
        text-align: right;
    }

    .head_up_list {
        margin-right: 10px;
    }

    .style-one {
        width: 700px;
    }
    .head_up_list {
        margin-right: 0px;
    }
}

@media screen and (max-width:991px) {
    header.header767 {
        display: none;
    }
    .head_up_list li .search {
        width: 130px;
    }

    .style-one {
        width: 700px;
    }

    .head_up_list {
        margin-right: 0px;
    }
}

@media screen and (max-width:767px) {
    header {
        display: none;
    }

    header.header767 {
        display: block;
    }
    .container767 .logo767 {
        width: 70%;
    }
    .overlay-menu>img{
        width: 70%;
    }
}
@media screen and (max-width:575px){
    .container767 .logo767 {
        width: 90%;
    }
    .overlay-menu>img{
        width: 90%;
    }
}

/* -------head RWD-------- */

/* --------------------------footer-------------------------------- */

.footer_ {
    background-color: rgb(63, 62, 62);
    height: 100%;
    width: 100%;
    text-align: center;    
    padding-bottom: 15px;
}

.footer_>a img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 10px;
}

.footer_text {
    text-align: center;
    margin: 20px 0;
}

.footer_text a {
    color: rgb(214, 214, 214);
    margin: 0 15px 0 15px;
    font-size: 16px;
    font-weight: bold;
}

.footer_text a:hover {
    color: rgb(175, 9, 9);
}

.footer_ hr {
    border: 1px solid rgb(163, 162, 162);
}

.bottom {
    color: rgb(214, 214, 214);
}
@media screen and (max-width:575px) {
    .footer_text{
        text-align: center;
    }
    .footer_text a{
        font-size: 16px;
        margin: 0 5px 0 5px;
    }
    
}
